.footer {
  position: down;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 9rem;
  background-color: #12BBBE;
  text-align: center;
  
}
.container {
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  
}
.footer-logo {

position: absolute;
  right: 5rem;
  bottom: 2.1rem;
  left: 10;
  padding: 1rem;
}
.footer-info {
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.us {
		position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: -1rem;
}

.footer2{
	 position: absolute;
  right: 0;
  bottom: 0;
  left: 2rem;
  padding: 4rem;
  
  
}
.footer_box{
	position: absolute;
  right: 4rem;
  bottom: -2rem;
  left: 4rem;
  padding: -25rem;
  
} 

.footer_magnet{
	position: absolute;
  right: 1rem;
  bottom: -7rem;
  left: 10;
  padding: 1rem;
  
}
